<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896845180246-0e65oi663tsg2cc45uf005fgug5919sj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896845180246-0e65oi663tsg2cc45uf005fgug5919sj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>896845180246-iejubg1l77l4f6rf6v1gkl0srq02k7nr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_73pGjMJFK-t9yCaJC5xuBuIWdToCIL8</string>
	<key>GCM_SENDER_ID</key>
	<string>896845180246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gabriel85.payflow</string>
	<key>PROJECT_ID</key>
	<string>pay-flow-e3239</string>
	<key>STORAGE_BUCKET</key>
	<string>pay-flow-e3239.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896845180246:ios:8db0454290580bd69afaf7</string>
</dict>
</plist>